<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dat255.busster" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_directions_bus"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity

            android:name=".SelectWhereActivity"
            android:label="@string/select_where_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AddPostActivity"
            android:label="@string/add_post_name"
            android:theme="@style/AppTheme.NoActionBar" />


        <service android:name=".Services.SocketService" />

        <activity
            android:name=".AddCommentActivity"
            android:label="@string/title_activity_add_comment"
            android:theme="@style/AppTheme.NoActionBar" />
        <service android:name=".Services.SocketService" />

        <activity
            android:name=".SurveyActivity"
            android:label="@string/title_activity_survey"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity
            android:name=".ShowSurveyResultActivity"
            android:label="@string/show_survey_result_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <service android:name=".Services.SocketService" />

        <activity
            android:name=".ViewCommentsActivity"
            android:label="@string/title_activity_view_comments"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

    </application>

</manifest>
